/* Selettore universale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* container */
.container{
    height: 500px;
    margin-left: 360px;
    margin-right: 360px;
}

#box-1{
    height: 400px;
    background-color: pink;
}

#box-2{
    height: 900px;
    background-color: green;
}

#due{
    display: flex;
}

#big-box{
    background-color: skyblue;
    flex-basis: 500px;
}

#small-box{
    background-color: pink;
    flex-basis: 500px;
}

#big{
    background-color: red;
    flex-basis: 578px;
}

#small{
    background-color: aquamarine;
    flex-basis: 578px;
}

#small > div{
    width: 208px;
}

/* section */
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* utilities classes */
.bg-azure{
    background-color: azure;
}
.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: blue;
}

.bg-gray{
    background-color: darkgray;
}

.bg-black{
    background-color: black;
}

#nav{
    background-color: gold;
    display: flex;
}