/* Selettore universale */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* container */
.container{
    border: 1px dotted black;
    height: 500px;
    margin-left: 300px;
    margin-right: 300px;
}

#box-1{
    height: 400px;
    background-color: pink;
    margin-left: 450px;
    margin-right: 450px;
}

#box-2{
    height: 900px;
    background-color: green;
}

#due{
    display: flex;
}

#big-box{
    background-color: skyblue;
    flex-basis: 718px;
}

#small-box{
    background-color: pink;
    flex-basis: 476px;
}

#big{
    background-color: red;
    flex-basis: 358px;
}

#small{
    display: flex;
    background-color: aquamarine;
    justify-content: flex-start;
}

#small > div{
    border: 1px dotted white;
    width: 150px;
}

/* section */
section{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* utilities classes */
.bg-azure{
    background-color: azure;
}
.bg-white{
    background-color: white;
}

.bg-blue{
    background-color: blue;
}

.bg-gray{
    background-color: darkgray;
}

.bg-black{
    background-color: black;
}

/* Nav */
.nav{
    background-color: gold;
    display: flex;
    justify-content: center;
    margin-left: 360px;
    margin-right: 360px;
}

.nav > div{
    border: 1px dotted black;
    flex-basis: 238px;
}

.nav > #link {
    flex-basis: 718px;
    text-align: center;
}

.nav > #login {
    text-align: right;
}

/* Footer Nav */

.nav-2{
    background-color: aqua;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    margin-left: 360px;
    margin-right: 360px;
}

.nav-2 > div{
    background-color: pink;
}